<!DOCTYPE html>
<html>
    <head>
        <title>YelpBook</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
                
        <div id="landing-header">
                <h1>Welcome to YelpBook!</h1>
            <a href="/books" class="btn btn-lg btn-success">View All Books</a>
        </div>
    </body>
</html>